body{
    background-color: bisque;
}

#nav-logo{
    border-right: 2rem;
}

#showMe{
    max-width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    border-color: grey;
    display: none;
    padding: 1rem;
}